---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Welcome!</div>
    <div class="text-5xl font-bold">I'm YUNG-CHI(Charlie) MAI</div>
    <div class="text-3xl py-3 font-bold"> DevOps Support Engineer | Cloud Support Engineer II | Java Developer | MSc Applicant</div>
    <div class="py-2">
      <p class="text-lg">
        This is my personal application site created to showcase my qualifications for MSc in Computer Science (AI Track) at Trinity College Dublin. I have 15+ years of experience across DevOps, cloud services, mobile apps, and GPT-based AI tools.
      </p>
    </div>
    <div class="mt-8">
      <a class="btn" href="/cv.pdf" target="_blank">Download CV</a>
      <a href="https://lkk.dev" target="_blank" class="btn btn-outline ml-5">View My App</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Highlighted Projects {"</>"}</div>
  </div>

  <HorizontalCard
      title="Vouchgether Discount App"
      img="/project_vouchgether.jpeg"
      desc="A React Native app to share and claim discount vouchers across Ireland. Integrated with AWS services and AI classification logic."
      url="https://lkk.dev"
      badge="Live"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
      title="Parking Violation Reporter"
      img="/project_parking.webp"
      desc="Single-handedly developed a citizen app that handled 440,000+ violation reports in Taiwan within one year."
      url="https://taiwanbetter.weebly.com/"
      badge="Popular"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
      title="RAG Troubleshooting GPT Assistant"
      img="/project_cmai_troubleshooting_system.png"
      desc="Self-built AI agent to semantically search all my technical documents and assist in complex troubleshooting workflows. Supports document ingestion, Pinecone search, GPT memory loop, and automated knowledge evolution."
      url="https://troubleshooting-system.onrender.com/"
      badge="AI"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
        <>
          <HorizontalCard
              title={post.data.title}
              img={post.data.heroImage}
              desc={post.data.description}
              url={"/blog/" + createSlug(post.data.title, post.slug)}
              target="_self"
              badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
    ))
  }
</BaseLayout>
