---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Yung-Chi Mai
  </div>
  <div class="inline opacity-75">
    Developed for applying MSc in Computer Science (AI Track) at Trinity College Dublin
  </div>
</footer>
<style></style>
