---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 text-sm text-gray-600">
  <div class="pb-2">
    &copy; {today.getFullYear()} Charlie Mai
  </div>
  <div class="opacity-80">
    A living portfolio & growth log of my work across cloud infrastructure, DevOps automation, mobile apps, and AI tools.
  </div>
  <div class="pt-3">
    <a class="text-blue-700 font-medium underline" href="mailto:me@cmai.ai">Email: me@cmai.ai</a>
  </div>
</footer>
<style></style>
